@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/teal";
@import "@radix-ui/colors/teal-alpha";
@import "@radix-ui/colors/teal-dark";
@import "@radix-ui/colors/teal-dark-alpha";
@import "@radix-ui/colors/lime";
@import "@radix-ui/colors/lime-dark";
@import "@radix-ui/colors/olive";
@import "@radix-ui/colors/olive-dark";


@layer base {
  :root {
    --background: var(--teal-1);
    --foreground: var(--teal-12);

    --card: var(--teal-2);
    --card-foreground: var(--teal-12);

    --popover: var(--teal-2);
    --popover-foreground: var(--teal-12);

    --primary: var(--teal-11);
    --primary-foreground: var(--teal-12);

    --secondary: var(--teal-10);
    --secondary-foreground: var(--teal-3);

    --muted: var(--teal-3);
    --muted-foreground: var(--teal-10);

    --accent: var(--teal-5);
    --accent-foreground: var(--teal-12);

    --destructive: var(--red-10);
    --destructive-foreground: var(--red-3);

    --border: var(--teal-7);
    --input: var(--teal-4);
    --ring: var(--teal-8);

    --radius: 0.5rem;
  }

  /* .dark {
    --background: var(--teal-1);
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}