@media (max-width: 610px) {
  .footer {
    min-width: 450px;
    padding-left: var(--pt);
    padding-right: var(--pb);
  }
  .footer-logo {
    width: 180px;
    aspect-ratio: auto 180 / 21;
    height: 21px;
  }
  .flex-structure {
    flex-direction: column;
    gap: var(--space-3);
    align-items: start;
  }
  .separator {
    width: var(--separator-size);
    height: 1px;
    margin-left: 3px;
  }
  .developer-box {
    padding: 10px 10px;
    gap: var(--space-2);
  }
  .forward-propagation-chan-image {
    width: 30px;
    aspect-ratio: auto 30 / 30;
    height: 30px;
  }
}

@media (min-width: 611px) and (max-width: 810px) {
  .footer {
    min-width: 450px;
  }
  .footer-logo {
    width: 240px;
    aspect-ratio: auto 240 / 23;
    height: 23px;
  }
  .flex-structure {
    flex-direction: column;
    gap: var(--space-3);
    align-items: start;
  }
  .separator {
    width: var(--separator-size);
    height: 1px;
    margin-left: 3px;
  }
  .developer-box {
    padding: 10px 30px;
    gap: var(--space-4);
  }
  .forward-propagation-chan-image {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
  }
}


@media (min-width: 811px) {
  .footer {
    min-width: 640px;
  }
  .footer-logo {
    width: 240px;
    aspect-ratio: auto 240 / 23;
    height: 23px;
  }
  .flex-structure {
    flex-direction: row;
  }
  .separator {
    width: 1px;
    height: var(--separator-size);
  }
  .developer-box {
    padding: 10px 30px;
    gap: var(--space-4);
  }
  .forward-propagation-chan-image {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
  }
}
