@media (max-width: 600px) {
  .header {
    min-width: 450px;
  }
  .logo {
    width: 200px;
    aspect-ratio: auto 200 / 23;
    height: 23px;
  }
  .icon-feedback-between-gap {
    gap: var(--space-4);
  }
  .icon-size {
    width: 18px;
    height: 18px;
  }
  .feedback-button-size {
    --base-button-height: var(--space-6);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    font-size: var(--font-size-2);
    --line-height: var(--line-height-2);
    --letter-spacing: var(--letter-spacing-2);
  }
  .feedback-icon-size {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 601px) {
  .header {
    min-width: 450px;
  }
  .logo {
    width: 300px;
    aspect-ratio: auto 300 / 35;
    height: 35px;
  }
  .icon-feedback-between-gap {
    gap: var(--space-6);
  }
  .icon-size {
    width: 28px;
    height: 28px;
  }
  .feedback-button {
    --base-button-height: var(--space-7);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    font-size: var(--font-size-3);
    --line-height: var(--line-height-3);
    --letter-spacing: var(--letter-spacing-3);
  }
  .feedback-icon-size {
    width: 15px;
    height: 15px;
  }
}
